@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
  }
  
  body{
    font-family: 'Noto Sans', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
   
   
  }


  html{
    scroll-behavior: smooth;
   
  
  }
  

  a{
    text-decoration: none;
  }
  










.container-fluid{
     
}
 
.home{
  position: relative;
  background:linear-gradient(rgba(0, 0, 0,0.75),rgba(0, 0, 0, 0.75)), url('imgbox/p1.jpg')   no-repeat;

  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
 
}
.main_box .sidebar_menu{
  position: fixed;
  top: 0;
  height: 90vh;
  width: 280px;
  left: -280px;
  background:#111418;
  
  overflow: hidden;
  transition: all 0.3s linear;
}
.sidebar_menu .logo img{
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border: 5px solid rgb(119, 112, 112);
  margin-left: 80px; 
  margin-top: 20px;  
  margin-bottom: 20px;
  
}
 
.sidebar_menu .menu{
  position: absolute;
  top: 110px;
  width:100%;
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 10px 20px;
}
.sidebar_menu .menu i{
  color: #fff;
  font-size: 19px;
  padding-right: 8px;
}
.sidebar_menu .menu a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.sidebar_menu .menu li:hover{
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .social_media{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  list-style: none;
  cursor: pointer;
}
.sidebar_menu .social_media i{
  text-decoration: none;
  padding: 0 5px;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  font-size: 20px;
}
.sidebar_menu .social_media i:hover{
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.01);
}
#check{
  display: none;
}
.main_box .btn_one i{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;  
}
 .sidebar_menu .btn_two i{
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s linear;
}
.btn_one i:hover{
  font-size: 29px;
}
.btn_two i:hover{
  font-size: 24px;
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
  opacity: 1;
}

.social_media .media i{
   
    font-size: 20px;
     
 

}


/* home-center---------------------------------- */
.home-article{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    align-items: center;
}
.home-article .text-article {
    padding: 200px ;
 
   
   
}
.home-article .text-article .btn{
  color: #20C997;
  border: 1px solid #20C997;
   
  border-radius: 25px ;
 
 
}

.home-down i{
  font-size: 40px;
   margin-top: 140px;
   margin-left: 75px;
   font-weight: 500;
}

 
 

@media (max-width:768px) {
    .home-article .text-article {
      padding: 0;
      margin-top: 266px;
     
       
       
    }
    .home-down i{
      
       margin-top: 100px;
       margin-left: 85px;
        
    }
    

    
}
.gg{
  border: 1px solid red;
}
 
/* home-center-end-------------------------- */


/* about -------------- */


.background-b{
  background-color:#212529;
}
.about-head{
  color: #fff;
  font-size: 28px;
 
}

.about-wrapper .left-text{
  color:#fff ;
  
}
  span{

  color: #20C997;

}

.right-text ul li{
  list-style: none;
  border-bottom: 1px solid rgb(80, 75, 75);
  padding: 10px;
  font-weight: 500;
  color: #fff;

}
.right-text .right-button button {
  border: none;
  background: #20C997;
  padding: 10px 26px;
  border-radius: 25px;
  font-weight: 600;
  color:#fff ;
  


 

}

/* ----------count */
.kk{
  padding: 60px 0;


}
.customer-viwes{

padding: 15px;
 

}


.buy-viwes .viwes-all h1{
font-weight: 600;
color: #dbc9c9;
}
@media (max-width:768px) {
  .buy-viwes .viwes-all h1{
    font-weight: 500;
    font-size: 30px;
    
    }
    .buy-viwes .viwes-all h6{
      
      font-weight: 500;
         padding-left: 14px;
   

      
      }
  
}

.buy-viwes .viwes-all h6{
color: #dbc9c9;
font-weight: 500;


}
/* about --------------end */


/* what i do--------------------------------------------------- */





.backwhatido{
  background-color: #343A40;
  margin-top: -28px;
}

.whatido-weapper .whatido-icon span{
  background-color: #212529;
  padding: 12px;
  border-radius: 8px;
  font-size: 30px;
}
.whatido-weapper .whaiido-text{
  color: #fff;
}
.whatido-weapper .whaiido-text p{
  color: rgb(172, 172, 172);
}

/* what i do------------------------------------------------end--- */









/* resme-----------------------start------------------------------------ */
.resume-bg{
  background-color: #212529;
  padding-bottom: 40px;
}
.resure{
  text-align: center;
  padding: 60px 0 70px 0;
  color: #fff;
}

.resume-weapper {
  background:#111418 ;
  padding: 15px;
  color: #fff;
}

.resume-weapper .top-tittle{
  background-color:#DC3545;
  width: 40%;
 padding: 7px 15px;
 border-radius: 8px;
 color: #fff;
 text-align: center;

}
/* resme-----------------------------------------------------------------end */






/* fitter gullary -----------------------start------------------------*/
.filter-gullary{
  background-color: #343A40;
  padding: 70px 0 50px 0;
 
 
}


.filter-gullary .filter-list{
  display: flex;
  margin-bottom: 10px;
 justify-content: center;
}
.filter-gullary .filter-list .active{
  background: #0ad89a;

 
}

.filter-list li{
  list-style: none;
  background: #eee;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  

 
}
@media (max-width:768px) {
  
  .filter-gullary .filter-list{
   
    
    padding: 8px 0px;
  
   
  }
  
  }

  
  
 
 
 

/* fitter gullary-end---------------------------------------- */


 

 

 
.skill-section{
  padding: 90px 0 90px 0;
  background-color: #343A40;
  margin: 0;
}
 

 

  .skill_bar .info{

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding:  0 2px;
  color: #fff;


}

.skill_bar .info p:nth-child(2){

  font-weight: 500;

}

.skill_bar .bar{

  width: 100%;

  height: 10px;

  background-color: rgba(0, 0, 0, 0.144);

  border-radius: 25px;

  margin-top: 5px;

  position: relative;

}

.skill_bar .bar span{

  width: 50%;

  height: 100%;

  position: absolute;

  background-color:#0ad89a;

  border-radius: 25px;

}

.skill_bar .bar .html{

  width: 90%;

  animation: html 2s;

}

@keyframes html {

  0%{

      width: 0%;

  }100%{

      width: 90%;

  }

}

.skill_bar .bar .css{

  width: 85%;

  animation: css 2s;

}

@keyframes css {

  0%{

      width: 0%;

  }100%{

      width: 85%;

  }

}

.skill_bar .bar .sass{

  width: 80%;

  animation: sass 2s;

}

@keyframes sass {

  0%{

      width: 0%;

  }100%{

      width: 80%;

  }

}

@media (max-width:769px) {
  .skill_bar .info{

  
  
  
  
    padding:  0 ;
    overflow: hidden;
   
  
  
  }

  
}


 
 
 